<!DOCTYPE html>

<head>
  <title>VarunChallenge</title>
	<script type="text/javascript">
	function isChecked() {
		return $('#background_check_agree').prop('checked');

	}
	function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
	
		$(document).ready(function() {
			$('#complete_application').click(function() {
				if (isChecked()) {
					$.ajax({
						type:"POST",
						url:"/applicants/create",
						data: {
							'first_name' : getParameterByName('firstName'),
							'last_name'  : getParameterByName('lastName'),
							'email'		   : getParameterByName('email'),
							'phone'      : getParameterByName('phoneNumber'),
					    'phone_type' : getParameterByName('phoneType'),
				      'region'     : getParameterByName('region')
						},
						dataType: "json",
					});
					$('#signup').hide();
					$('#confirmation_dialog').show();
				} else {
					alert("You must agree to a background check!");
				}	
			});		
			$('#confirmation_dialog').hide();
		});

	</script>

</head>

<body>

<div ng-app="CodingChallenge">
<div ng-controller="CodingChallengeController">
<div class = "innerBox" id="box">

  <div class = "centered">
    <br>
		<%= image_tag("logo.png") %>
	</div>
	<br>
  <div id="signup" class = "signup centered">
			First Name: <%= params[:firstName] %>
			<br>
			Last Name: <%= params[:lastName] %>
			<br>
			Region: <%= params[:region] %>
			<br>
			Phone Type: <%= params[:phone] %>
			<br>
			Phone Number: <%= params[:phoneNumber] %>
			<br>
			Email : <%= params[:email] %>
			<br>
			<input type=checkbox id="background_check_agree" value="no">Do you agree to allow Instacart to perform a background check?</input>
	   	<br>
			<button class = "apply" type="submit" value="submit" id="complete_application">Complete Application</button>

	</div>
 	<div id="confirmation_dialog" class = "confirmation centered">
    Thanks for your application, we'll get back to you shortly!
  </div>

</div>
</div>
</div>
</body>

</html>

